.all-articles {
    padding-bottom: 40px;
    position: relative;

    &__title {
        font-size: $medium;
        line-height: 23px;
        letter-spacing: 0.04em;
        color: rgba($blue, .8);
        margin-bottom: 32px;
    }

    &__slider {
        padding-bottom: 56px;
    }

    .arrows {
        display: flex;
        justify-content: space-between;

        .right, .left {
            display: flex;
            align-items: center;
            
            span {
                font-size: $standart;
                font-family: 'Gilroy', Helvetica, sans-serif;
                line-height: 20px;
                letter-spacing: 0.04em;
                font-weight: 500;
                color: $blue;

                &:hover {
                    font-weight: 900;
                }
            }
    
            img {
                width: 12px;
                height: 12px;
            }
        }

        .right {
            span {
                margin-right: 19px;
            }
        }

        .left {
            span {
                margin-left: 19px;
            }
        }
    }
}

@include respond-to('small') {
    .all-articles {
        padding-bottom: 50px;
    }
}

@include respond-to('medium') {
    .all-articles {
        padding-bottom: 75px;

        &__title {
            font-size: $large;
            line-height: 25px;
        }
    }
}

@include respond-to('large') {
    .all-articles {
        padding-bottom: 95px;
    }
}
