.article {
    width: 100%;
    margin-bottom: 15px;

    &__wrapper {
        display: flex;
    }

    &__hero {
        display: flex;
        flex-direction: column;

        .article__title {
            font-size: $large;
            line-height: 26px;
            margin-bottom: 15px;
        }

        .article__paragraph {
            display: block;
            margin-bottom: 12px;
        }

        .article__img {
            width: 100%;
            margin-bottom: 20px;
        }

        .article__descr {
            width: 100%;
            margin-left: 0;
        }
    }

    &__img {
        width: 40%;
    }

    &__descr {
        width: 60%;
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        font-family: 'Galien', serif;
        font-size: $standart;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: $dark-blue;
        margin-bottom: 10px;
    }

    &__paragraph {
        display: none;
        margin-bottom: 14px;
        font-size: $standart;
        line-height: 26px;
        letter-spacing: 0.04em;
        color: $black;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 298px;
    }

    &__pulished {
        width: 75%;
    }

    &__author {
        display: block;
        font-size: $extra-small;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: $dark-blue;
        margin-bottom: 4px;
    }

    &__date {
        display: block;
        font-size: $extra-small;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: rgba($black, .4);
    }

    &__links {
        display: flex;
        justify-content: space-between;
        width: 25%;
    }

    &__bookmark {
        display: block;
        width: 12px;
        height: 16px;
        background: url(../icons/bookmark.svg) center (center / cover) no-repeat;
        transition: transform .2s;

        &:hover {
            transform: scale(1.5); 
        }
    }

    &__share {
        display: block;
        width: 12px;
        height: 14px;
        background: url(../icons/share.svg) center (center / cover) no-repeat;
        transition: transform .2s;

        &:hover {
            transform: scale(1.5); 
        }
    }
}


@include respond-to('small') {
    .article {
        margin-bottom: 35px;

        &__title {
            font-size: $large;
            line-height: 30px;
        }

        &__paragraph {
            display: block;
        }

        &__descr {
            margin-left: 10px;
        }

        &__hero {
            .article__title {
                font-size: 48px;
                line-height: 58px;
            }
    
            .article__descr {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

@include respond-to('medium') {
    .article {
        margin-bottom: 40px;

        &_column {
            width: 30%;
            justify-content: space-between;
        
            .article__wrapper {
                flex-direction: column;
            }

            .article__img {
                width: 100%;
                margin-bottom: 16px;
            }

            .article__descr {
                width: 100%;
                margin-left: 0;
            }

            .article__title {
                margin-bottom: 16px;
            }

            .article__paragraph {
                margin-bottom: 16px;
            }
        }


        &__title {
            font-size: $large;
            line-height: 40px;
        }

        &__descr {
            margin-left: 15px;
        }

        &__hero {
            display: flex;
            flex-direction: row-reverse;

            .article__descr {
                margin-right: 20px;
                width: 40%;
                justify-content: center;
            }

            .article__title {
                font-size: 38px;
                line-height: 48px;
                margin-bottom: 50px;
            }

            .article__img {
                width: 60%;
            }

            .article__paragraph {
                margin-bottom: 40px;
            }
        }

        &__bookmark {
            width: 18px;
            height: 22px;
        }
    
        &__share {
            width: 18px;
            height: 20px;
        }
    }
}

@include respond-to('large') {
    .article {
        margin-bottom: 50px;

        &__title {
            font-size: $xx-large;
            line-height: 38px;
        }

        &__descr {
            margin-left: 20px;
        }

        &__hero {
            .article__title {
                font-size: 48px;
                line-height: 58px;
            }
        }
    }
}