.button {
    display: block;
    margin: 25px auto;
    width: 220px;
    background: $light-blue;
    // box-shadow: 5px 10px 20px rgba($blue, 0.2);
    border: none;
    border-radius: 10px;
    font-family: 'Gilroy', Helvetica, sans-serif;
    font-size: $standart;
    line-height: 26px;
    padding: 15px 48px;
    text-align: center;
    font-weight: 300;
    color: $white;
    text-transform: capitalize;
    max-height: 56px;

    &:hover {
        box-shadow: 0 0px 15px 5px  rgba(16, 112, 177, 0.7);
    }
}