.footer {
    position: relative;
    padding: 30px 0;
    margin-right: 7%;
    background-color: $azure;
    border-top-right-radius: 100px;

    .heading {
        position: relative;
        padding-bottom: 60px;
        
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 85%;
            border-bottom: 1px solid rgba($color: $white, $alpha: .4);
        }
    }
    
    &__logo {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        img {
            max-width: 64px;
        }
    }

    &__name, &__subtitle {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: $white;
    }

    &__items {
        position: relative;
    }

    &__element {
        display: flex;
        align-items: baseline;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.05em;
        color: $white;
        max-width: 240px;
    }

    &__abbreviation {
        font-weight: 700;
        margin-right: 10px;
    }

    &__link {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.05em;
        color: $white;
        text-decoration: none;
    }

    &__list {
        display: none;
        padding-left: 0;

        li {
            list-style-type: none;
        }
    }

    &__subtitle {
        position: relative;
        transition: 0.3s all;
        font-size: 16px;
        
        &:after {
            content: "";
            display: block;
            position: absolute;
            background-image: url(../icons/arrow-down.svg);
            background-repeat:no-repeat;
            background-size:cover;
            background-position: center center;
            right: 0;
            bottom: 0;
            width: 15px;
            height: 15px;
        }
    
        &_active {
            &:after {
                transform: rotate(180deg);
            }
        }
    }

    &__law {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.05em;
        color: $white;
        opacity: 0.4;
    }
}

@include respond-to('medium') {
    .footer {
        &__items {
            padding-left: 7%;
        }

        &__list {
            display: block;
        }

        &__subtitle {
            &:after {
                content: none;
            }
        }

        &__wrapper {
            display: flex;
            margin-bottom: 42px;
        }

        &__info {
            width: 50%;
        }

        &__item {
            width: 25%;
        }

        &__name {
            font-size: 28px;
            line-height: 46px;
        }

        &__subtitle {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 32px;
        }

        &__element, &__link {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 16px;
        }

        &__point {
            margin-bottom: 15px;
        }

        .heading {
            padding-left: 7%;

            &__wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &__title {
                text-align: left;
            }

            .container {
                width: 940px;
            }

            .button {
                margin: 0;
            }
        }
    }
}

@include respond-to('large') {
    .footer {
        padding: 91px 0 64px 0;
        border-top-right-radius: 200px;
    }
}