.header {
    padding:15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        position: relative;
        width: 70%;
    }

    &_active {
        background-color:rgba($white, .9);
    }
}

@include respond-to('medium') {
    .header {
        padding: 56px 60px 20px 60px;
    }
}