.header {
    padding:15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 100px;
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        position: relative;
        width: 70%;
    }

    &_active {
        background-color: $white;
        
    }
}

@include respond-to('medium') {
    .header {
        padding: 48px 83px;
    }
}