.hero {
    padding-bottom: 30px;
    margin-top: 100px;
    background: linear-gradient(0deg, rgba($white-blue, .2) 8.84%, rgba($white-blue, 0) 31.12%);
    

    &__title {
        font-family: Galien;
        font-size: 32px;
        line-height: 42px;
        letter-spacing: 0.04em;
        color: $dark-blue;
        text-align: center;
        margin-bottom: 32px;
    }
}

@include respond-to('small') {
    .hero {
        &__img {
            img {
                width: 50%;
                margin: 0 auto;
            }
        }
    }
}

@include respond-to('medium') {
    .hero {
        position: relative;
        padding: 55px 0;
        

        &__img {
            position: absolute;
            right: 25px;
            top: 0;
            height: 100%;
            z-index: -1;

            img {
                width: 100%;
                max-width: 100%;
            }
        }

        &__title {
            font-size: 42px;
            line-height: 52px;
            max-width: 515px;
            text-align: left;
        }

        .heading__paragraph {
            max-width: 425px;
            margin-left: 0;
            margin-bottom: 71px;
        }

        .button {
            margin-left: 0;
            margin-bottom: 145px;
        }
    }
}

@include respond-to('large') {
    .hero {
        &__title {
            font-size: 64px;
            line-height: 74px;
        }
    }
}