.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: -100%;
    top: 0;
    width: 70%;
    height: 100vh;
    margin-top: 0;
    padding: 20px 15px;
    background-color: rgba($color: $light-blue, $alpha: .8);
    transition: 0.6s all;

    &_active {
        left: 0;
    }

    &__item {
        list-style-type: none;
        padding: 0;
        border: none;
        margin: 10px 0;
    }

    &__link {
        font-size: 30px;
        color: $white;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.hamburger {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 16px;

    span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: $blue;
        margin-bottom: 4px;
        transition: 0.5s all;
    }

    &_active {
        span {
            margin-bottom: -2px;

            &:nth-child(1) {
                transform: translateY(3px) rotate(-45deg);
            }

            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                transform: translateY(3px) rotate(45deg);
            }
        }
    }
}